<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <defaultDocument>
      <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="index.aspx" />
                <add value="index.html" />
                <add value="default.php" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="FrontController" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
                <rule name="RedirectToLogin" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="AddPhpExtension">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="RewriteToIndex" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
      </rules>
    </rewrite>
        <handlers>
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\php-8.2\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/plain" />
        </staticContent>
        <directoryBrowse enabled="true" />

  </system.webServer>
</configuration>
